img{
    width:100%;
    height:317px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.cent{
    text-align: center;
}
h3{
    color: #F3BF99; 
}

.buttons{
    display: flex;
    justify-content: space-around;
}

button{
    width:115px;
}

.buttons > a> button > img{
    width:16px;
    height:16px;
}
.buttons > a> button > .github-img{
    width:20px;
    height:23px;
    padding:0;
}